<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <%= link_to 'CERNER - IT SERVICE MANAGEMENT', root_path, class:"w3-bar-item w3-button" %>
   
    <!-- navbar  -->
  <div class="w3-right w3-hide-small">
    <% if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path,method: :delete, class:"w3-bar-item w3-button" %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class:"w3-bar-item w3-button" %>
    <% end %>
    </div>
  </div>
</div>

<!-- Header -->
<div class="w3-display-bottomleft w3-padding-large w3-opacity-blue"></div>
</header>