<!-- Page content -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
<%= image_tag "homepage/employee.jpg",width: 1200, height: 400 %>  
<div class="w3-content" style="max-width:1100px">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <%= image_tag "homepage/service.jpg",width: 400, height: 600 %>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">WELCOME</h1><br>
      <h5 class="w3-center">Please login </h5>
      <h5 class="w3-center">below depending on the type of user</h5>
      <br />
      <div align="center">
      <p class="w3-large"><span class="w3-tag w3-light-grey">ADMIN</span><br><br>
      <span class="w3-tag w3-light-grey">EMPLOYEE</span><br><br>
      <span class="w3-tag w3-light-grey">SERVICE</span></p><br><br>
    </div>
    </div>
      </p>
    </form>
  </div>
</div>
</body>
</html>
